<div class="container">
  <h1>material works!</h1>
  <div>
    <h2>material-form.</h2>
    <form [formGroup]="myControl" style="width:200px;">
      <div>
        <mat-form-field>
          <mat-select formControlName="select1">
            <mat-option value="window">Window</mat-option>
            <mat-option value="macos">macOS</mat-option>
            <mat-option value="linux">Linux</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-select formControlName="select2" multiple>
            <mat-option value="window">Window</mat-option>
            <mat-option value="macos">macOS</mat-option>
            <mat-option value="linux">Linux</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <button mat-raised-button (click)="click()">click</button>
    </form>
    <p class="message">{{message}}</p>
  </div>
</div>
